ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFA559;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.none-style-navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.none-style-navbar a:hover {
  background-color: #FFA559;
  color: black;
}

li a:hover {
  background-color: #FFE6C7;
  color: black;
}

li a.active {
  background-color: #FF6000;
  color: white;
}

.navbar-fixed{
  position:fixed; 
  top:0; 
  width:100%;
}

.hideme {
  height: 1px; border: none }
  .noborder{border: none}
  .offscreen {
  height: 1px; width: 1px; position: absolute; overflow: hidden; top: -10px; }